<meta charset="UTF-8">
<title>STS - <%= title %></title>

<!-- CSS (load Tachyons from a CDN) -->
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.5/css/tachyons.min.css">
<style type="text/css">.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}</style>