<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
		<link rel="prerender" href="/?track=RR215008638TH">
	</head>
	<body class="w-100 sans-serif">
		<header>
			<% include partials/header %>
		</header>
		<main class="w-100 bt b--black-10 bg-white">
		<section class="bg-black-0125 w-100">
			<article class="pb4">
				<div class="ph3 ph5-ns">
					<div class="cf mw9 center tc-m">
						<div class="pb3 pb4-ns pt4 pt5-ns mt4 black-70 fl-l w-50-l">
							<form action="./" method="get">
								<label class="visuallyhidden" for="track">Tracking Code</label>
								<input type="text" class="input-reset b--solid b--blue pa3 br1 blue" id="track" name="track" placeholder="Tracking Code" required>
								<button type="submit" class="b--solid b--navy pa3 br1 bg-dark-blue washed-blue dim pointer">Track Package</button>
							</form>
							<p class="blue">Try with the following code: <span class="pointer bb bw1" onclick="document.getElementById('track').value = this.innerText || this.textContent;">RR215008638TH</span>.</p>
							<p class="f5 f4-ns fw4 mv5">
								Welcome to Thailand Post's Track &amp; Trace system. This system is designed for customers in order to track item delivery in Thailand and International.
							</p>
						</div>
					</div>
				</div>
			</article>
		</section>
		</main>
		<footer>
			<% include partials/footer %>
		</footer>
	</body>
</html>