/* Overrides Boostrap variables
-------------------------------------------------- */
$enable-flex: true;
$brand-primary: #3498db;
$font-family-sans-serif: 'Lato', sans-serif;
$headings-font-family: 'Roboto', sans-serif;
$headings-font-weight: 300;

/* Import Boostrap SASS
-------------------------------------------------- */
@import '../node_modules/bootstrap/scss/bootstrap';

/* Loading styles
-------------------------------------------------- */
.loading {
	display: none;
	transition: opacity 300ms ease-out;
}

.loaded {
	display: block;
	animation: fadeInFromNone .8s ease-out;
}

.loading-spinner {
	position: relative;
	width: 80px;
	height: 80px;

	&.loaded {
		display: none;
	}

	&:before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80px;
		height: 80px;
		margin-top: -40px;
		margin-left: -40px;
		border-radius: 50%;
		border: 1px solid #ccc;
		border-top-color: #07d;
		animation: spinnerAnim .6s linear infinite;
	}

}

/* Animations
-------------------------------------------------- */
@keyframes spinnerAnim {
	to {
		transform: rotate(360deg);
	}

}

@keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}

}

@keyframes bounce {
	0%,
	20%,
	60%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-10px);
	}

	80% {
		transform: translateY(-5px);
	}

}

/* Header
-------------------------------------------------- */
#mainNav {
	border-bottom: 1px solid #eee;

	.navbar-brand {
		color: #3498db;
	}

	.navbar-nav .nav-item+.nav-item {
		margin-left: 2rem;
	}

}

/* Track Package
-------------------------------------------------- */
#trackNew {
	.container {
		padding-top: 7.5rem;
		padding-bottom: 7.5rem;
	}

	.input-group {
		max-width: 420px;
	}

	.col-img:hover {
		animation: bounce 1s ease infinite;
	}

}

/* Toggle view depending on state
-------------------------------------------------- */
#trackingHistory {
	display: none;

	.alert-info {
		display: inline-block;
	}

	.alert-success {
		&.loading {
			display: none;
		}

		&.loaded {
			display: inline-block;
		}

	}

}

.hasCode {
	#trackNew {
		// Gain space
		.container {
			padding-top: 2.5rem;
			padding-bottom: 2.5rem;
		}

		// Hide stuff
		.col-img,
		.example-trackingcode {
			display: none;
		}

	}

	#trackingHistory {
		display: block;
	}

}

/* Footer
-------------------------------------------------- */
#footerMain {
	border-top: 1px solid #eee;
	padding: 15px 0;
}

/* Media Queries
-------------------------------------------------- */
@include media-breakpoint-up(sm) {
	html {
		position: relative;
		min-height: 100%;
	}

	body {
		// Margin bottom by footer height
		margin-bottom: 60px;
	}

	#footerMain {
		padding: 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 60px;
		line-height: 60px;
	}

	#trackNew {
		.input-group > .form-control,
		.input-group > .input-group-addon,
		.input-group > .input-group-btn > .btn {
			padding: 0.75rem 1.5rem;
			font-size: 1.25rem;
		}

	}

}